* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.aboutMe-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--bg-color);
}

.aboutMe-left-side {
    position: absolute;
    width: 40%;
    height: 100%;

    left: 0;
}

.aboutMe-right-side {
    position: absolute;
    width: 60%;
    height: 100%;

    right: 0;
}

.aboutMe-left-side .myPhoto {
    position: absolute;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background-color: white;

    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
}

.aboutMe-left-side .myPhoto img {
    position: absolute;
    width: 40%;
    height: 50%;
    border-radius: 100%;
    transform: scale(2);
    top: 15%;
}