* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Aclonica", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.aboutMeTopic-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

}

.aboutMeTopic-top-section {
    position: relative;
    width: 100vw;
    height: 88vh;
    opacity: 0.9;
    background-color: var(--second-bg-color);
}

.aboutMeTopic-img img {
    position: absolute;
    width: 70%;
    height: 100%;

    top: 15%;
    left: 10%;
    transform: scale(2);

    opacity: 0.3;
}

.title {
    position: absolute;
    width: 100%;
    height: 30%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    align-items: center;
}

.title h1 {
    position: absolute;

    width: 80%;
    height: 60%;

    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: var(--second-text-color);
    z-index: 1000;
    text-align: center;
    text-shadow: 55px 55px 10px rgba(0, 0, 0, 0.4);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.aboutMeTopic-top {
    position: absolute;
    width: 100vw;
    height: 12vh;

    top: 0;
    background-color: var(--second-bg-color);
    z-index: 1000;
}

.aboutMeTopic-bottom {
    position: absolute;
    width: 100vw;
    height: 12vh;

    bottom: 0;
    background-color: var(--bg-color);
    z-index: 2000;
}

/* -------------------------------------------------------- */

@media (max-width: 1200px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 80%;
        height: 100%;

        top: 15%;
        left: 10%;
        transform: scale(2);

        opacity: 0.3;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 1085px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 85%;
        height: 100%;

        top: 15%;
        left: 10%;
        transform: scale(2);

        opacity: 0.3;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 20%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 55px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 950px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 90%;
        height: 100%;

        top: 15%;
        left: 10%;
        transform: scale(2);

        opacity: 0.3;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 20%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 55px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 850px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 95%;
        height: 100%;

        top: 15%;
        left: 10%;
        transform: scale(2);

        opacity: 0.3;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 20%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 55px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 768px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 60%;
        height: 40%;

        transform: scale(4);

        opacity: 0.3;

        top: 35%;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 20%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4.5rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 55px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 533px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 80%;
        height: 40%;

        transform: scale(3);

        opacity: 0.3;

        top: 40%;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 18%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 40px 45px 8px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 500px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 80%;
        height: 40%;

        transform: scale(3);

        opacity: 0.3;

        top: 40%;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 18%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 40px 45px 8px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 425px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 60%;
        height: 20%;

        transform: scale(7.5);
        top: 50%;

        opacity: 0.3;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 16%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 100%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.5rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 40px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 375px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 65%;
        height: 20%;

        transform: scale(7.5);
        top: 50%;

        opacity: 0.3;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 14%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 100%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 35px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 320px) {

    .aboutMeTopic-img img {
        position: absolute;
        width: 75%;
        height: 20%;

        transform: scale(7.5);
        top: 50%;

        opacity: 0.3;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 12%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 100%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 30px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}


