* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.contactMe-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--second-bg-color);
}

.contactMe-section img {
    position: absolute;
    width: 30%;
    height: 70%;
    transform: scale(4.8);

    top: 45%;
    left: 15%;

    opacity: 0.13;
}

.contactMe-section .contactMe-section-title {
    position: absolute;
    width: 100%;
    height: 10%;
    /*background-color: burlywood;*/
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.contactMe-section .contactMe-section-title h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--text-color);
    z-index: 9000;
}

.contactMe-section .contactMe-section-left-side {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 0;
    /*background-color: cadetblue;*/
}

.contactMe-section .contactMe-section-right-side {
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0;
    /*background-color: burlywood;*/
}

.contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
    position: absolute;
    width: 70%;
    height: 30%;
    /*background-color: #9d9d9d;*/
    top: 0;
    bottom: 0;
    left: 20%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--second-text-color);
    z-index: 9000;
}

.contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content p {
    font-family: "Asar", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--second-text-color);
    z-index: 9000;
}

.contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h3 {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #653D3D;
    z-index: 9000;
}

.contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
    position: absolute;
    width: 70%;
    height: 74%;
    right: 0;
    background-color: var(--bg-color);
    opacity: 0.2;


    bottom: 7%;
    right: 0;
    left: 0;
    margin: auto;
}

.contactMe-section .contactMe-section-right-side form {
    position: absolute;
    width: 70%;
    height: 74%;
    right: 0;
    border: 2px solid black;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);

    bottom: 7%;
    right: 0;
    left: 0;
    margin: auto;
    /*padding-left: 6rem;*/

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*align-items: start;*/
}

.contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactMe-section .contactMe-section-right-side form .form-firstNameLastName .form-firstName {
    display: flex;
    flex-direction: column;
}

.contactMe-section .contactMe-section-right-side form .form-firstNameLastName .form-lastName {
    display: flex;
    flex-direction: column;
}

.contactMe-section .contactMe-section-right-side form .form-email {
    position: absolute;
    width: 79%;
    height: 12%;
    top: 22%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*margin: 1rem;*/
}

.contactMe-section .contactMe-section-right-side form .form-message {
    position: absolute;
    width: 79%;
    top: 41%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactMe-section .contactMe-section-right-side form .form-button {
    position: absolute;
    width: 25%;
    height: 7%;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    /*background-color: black;*/
    /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.contactMe-section .contactMe-section-right-side form .form-button button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    color: var(--text-color);
    background-color: black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactMe-section .contactMe-section-right-side form label {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.contactMe-section .contactMe-section-right-side form input {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.6;
}

.contactMe-section .contactMe-section-right-side form textarea {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
    opacity: 0.6;
}

.contactMe-section .contactMe-section-right-side form #firstname {
    height: 1.5rem;
}

.contactMe-section .contactMe-section-right-side form #lastname {
    height: 1.5rem;
}

.contactMe-section .contactMe-section-right-side form #email {
    height: 1.8rem;
}


/* -------------------------------------------------------- */

@media (max-width: 1400px) {
    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 99%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 1300px) {

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 65%;
        transform: scale(4.8);

        top: 45%;
        left: 15%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 96%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 1200px) {

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 60%;
        transform: scale(4.8);

        top: 45%;
        left: 15%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 90%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 1132px) {

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 57%;
        transform: scale(4.8);

        top: 45%;
        left: 15%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 84%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 75%;
        height: 30%;
        /*background-color: #9d9d9d;*/
        top: 0;
        bottom: 0;
        left: 20%;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 1056px) {

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 54%;
        transform: scale(4.8);

        top: 45%;
        left: 15%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 82%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 76%;
        height: 30%;
        /*background-color: #9d9d9d;*/
        top: 0;
        bottom: 0;
        left: 20%;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 1040px) {

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 50%;
        transform: scale(4.8);

        top: 45%;
        left: 15%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 75%;
        height: 74%;
        right: 0;
        background-color: var(--bg-color);
        opacity: 0.2;


        bottom: 7%;
        right: 0;
        left: 0;
        margin: auto;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 75%;
        height: 74%;
        right: 0;
        border: 2px solid black;
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);

        bottom: 7%;
        right: 0;
        left: 0;
        margin: auto;
        /*padding-left: 6rem;*/

        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-around;*/
        /*align-items: start;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 82%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 78%;
        height: 30%;
        /*background-color: #9d9d9d;*/
        top: 0;
        bottom: 0;
        left: 20%;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 978px) {

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 48%;
        transform: scale(4.8);

        top: 45%;
        left: 15%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 85%;
        height: 74%;
        right: 0;
        background-color: var(--bg-color);
        opacity: 0.2;


        bottom: 7%;
        right: 0;
        left: 0;
        margin: auto;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 85%;
        height: 74%;
        right: 0;
        border: 2px solid black;
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);

        bottom: 7%;
        right: 0;
        left: 0;
        margin: auto;
        /*padding-left: 6rem;*/

        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-around;*/
        /*align-items: start;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 82%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 78%;
        height: 30%;
        /*background-color: #9d9d9d;*/
        top: 0;
        bottom: 0;
        left: 20%;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 855px) {

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 43%;
        transform: scale(4.8);

        top: 45%;
        left: 15%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 95%;
        height: 74%;
        right: 0;
        background-color: var(--bg-color);
        opacity: 0.2;


        bottom: 7%;
        right: 0;
        left: 0;
        margin: auto;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 95%;
        height: 74%;
        right: 0;
        border: 2px solid black;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

        bottom: 7%;
        right: 0;
        left: 0;
        margin: auto;
        /*padding-left: 6rem;*/

        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-around;*/
        /*align-items: start;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 82%;
        height: 12%;
        top: 5%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 85%;
        height: 30%;
        /*background-color: #9d9d9d;*/
        top: 0;
        bottom: 0;
        left: 10%;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 768px) {

    .contactMe-section .contactMe-section-title h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: var(--text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side {
        position: absolute;
        width: 50%;
        height: 70%;
        top: 0;
        /*background-color: cadetblue;*/
    }

    .contactMe-section .contactMe-section-right-side {
        position: absolute;
        width: 60%;
        height: 100%;
        right: 0;
        /*background-color: burlywood;*/
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 100%;
        height: 30%;
        /*background-color: #9d9d9d;*/
        bottom: 20%;
        left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h2 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.5rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content p {
        font-family: "Asar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h3 {
        font-family: "Kumar One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: #653D3D;
        z-index: 9000;
    }

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 38%;
        transform: scale(4.8);

        top: 50%;
        left: 13%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 95%;
        height: 63%;
        background-color: var(--bg-color);
        opacity: 0.2;


        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 95%;
        height: 63%;
        border: 2px solid black;
        box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);

        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 85%;
        height: 12%;
        top: 4%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-right-side form .form-email {
        position: absolute;
        width: 79%;
        height: 13%;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*margin: 1rem;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-message {
        position: absolute;
        width: 79%;
        top: 38%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contactMe-section .contactMe-section-right-side form .form-button {
        position: absolute;
        width: 25%;
        height: 7%;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        /*background-color: black;*/
        /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
    }

    .contactMe-section .contactMe-section-right-side form .form-button button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        font-family: "Inknut Antiqua", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--text-color);
        background-color: black;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contactMe-section .contactMe-section-right-side form label {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .contactMe-section .contactMe-section-right-side form input {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form textarea {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form #firstname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #lastname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #email {
        height: 1.7rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 690px) {

    .contactMe-section .contactMe-section-title h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: var(--text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side {
        position: absolute;
        width: 35%;
        height: 70%;
        top: 0;
        /*background-color: cadetblue;*/
    }

    .contactMe-section .contactMe-section-right-side {
        position: absolute;
        width: 65%;
        height: 100%;
        right: 0;
        /*background-color: burlywood;*/
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 90%;
        height: 30%;
        /*background-color: #9d9d9d;*/
        bottom: 20%;
        left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h2 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content p {
        font-family: "Asar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h3 {
        font-family: "Kumar One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: #653D3D;
        z-index: 9000;
    }

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 34%;
        transform: scale(4.8);

        top: 50%;
        left: 13%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 97%;
        height: 63%;
        background-color: var(--bg-color);
        opacity: 0.2;


        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 97%;
        height: 63%;
        border: 2px solid black;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);

        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 84%;
        height: 12%;
        top: 4%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-right-side form .form-email {
        position: absolute;
        width: 79%;
        height: 13%;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*margin: 1rem;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-message {
        position: absolute;
        width: 79%;
        top: 38%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contactMe-section .contactMe-section-right-side form .form-button {
        position: absolute;
        width: 25%;
        height: 7%;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        /*background-color: black;*/
        /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
    }

    .contactMe-section .contactMe-section-right-side form .form-button button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        font-family: "Inknut Antiqua", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--text-color);
        background-color: black;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contactMe-section .contactMe-section-right-side form label {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .contactMe-section .contactMe-section-right-side form input {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form textarea {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form #firstname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #lastname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #email {
        height: 1.7rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 618px) {

    .contactMe-section .contactMe-section-title h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: var(--text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side {
        position: absolute;
        width: 25%;
        height: 70%;
        top: 0;
        /*background-color: cadetblue;*/
    }

    .contactMe-section .contactMe-section-right-side {
        position: absolute;
        width: 75%;
        height: 100%;
        right: 0;
        /*background-color: burlywood;*/
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 90%;
        height: 35%;
        /*background-color: #9d9d9d;*/
        bottom: 20%;
        left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h2 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content p {
        font-family: "Asar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h3 {
        font-family: "Kumar One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: #653D3D;
        z-index: 9000;
    }

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 30%;
        transform: scale(4.8);

        top: 50%;
        left: 13%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 97%;
        height: 63%;
        background-color: var(--bg-color);
        opacity: 0.2;


        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 97%;
        height: 63%;
        border: 2px solid black;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);

        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 84%;
        height: 12%;
        top: 4%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-right-side form .form-email {
        position: absolute;
        width: 79%;
        height: 13%;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*margin: 1rem;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-message {
        position: absolute;
        width: 79%;
        top: 38%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contactMe-section .contactMe-section-right-side form .form-button {
        position: absolute;
        width: 25%;
        height: 7%;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        /*background-color: black;*/
        /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
    }

    .contactMe-section .contactMe-section-right-side form .form-button button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        font-family: "Inknut Antiqua", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--text-color);
        background-color: black;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contactMe-section .contactMe-section-right-side form label {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .contactMe-section .contactMe-section-right-side form input {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form textarea {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form #firstname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #lastname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #email {
        height: 1.7rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 600px) {

    .contactMe-section .contactMe-section-title h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: var(--text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side {
        position: absolute;
        width: 25%;
        height: 70%;
        top: 0;
        /*background-color: cadetblue;*/
    }

    .contactMe-section .contactMe-section-right-side {
        position: absolute;
        width: 75%;
        height: 100%;
        right: 0;
        /*background-color: burlywood;*/
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 90%;
        height: 35%;
        /*background-color: #9d9d9d;*/
        bottom: 20%;
        left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h2 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content p {
        font-family: "Asar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.6rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h3 {
        font-family: "Kumar One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.6rem;
        color: #653D3D;
        z-index: 9000;
    }

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 30%;
        transform: scale(4.8);

        top: 50%;
        left: 13%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 97%;
        height: 63%;
        background-color: var(--bg-color);
        opacity: 0.2;


        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 97%;
        height: 63%;
        border: 2px solid black;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);

        bottom: 5%;
        right: 5%;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 84%;
        height: 12%;
        top: 4%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-right-side form .form-email {
        position: absolute;
        width: 79%;
        height: 13%;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*margin: 1rem;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-message {
        position: absolute;
        width: 79%;
        top: 38%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contactMe-section .contactMe-section-right-side form .form-button {
        position: absolute;
        width: 25%;
        height: 7%;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        /*background-color: black;*/
        /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
    }

    .contactMe-section .contactMe-section-right-side form .form-button button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        font-family: "Inknut Antiqua", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--text-color);
        background-color: black;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contactMe-section .contactMe-section-right-side form label {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .contactMe-section .contactMe-section-right-side form input {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form textarea {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form #firstname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #lastname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #email {
        height: 1.7rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 533px) {

    .contactMe-section .contactMe-section-title {
        position: absolute;
        width: 100%;
        height: 10%;
        /*background-color: burlywood;*/
        top: 1%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .contactMe-section .contactMe-section-title h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.8rem;
        color: var(--text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side {
        position: absolute;
        width: 70%;
        height: 46%;
        top: 0;
        /*background-color: cadetblue;*/
    }

    .contactMe-section .contactMe-section-right-side {
        position: absolute;
        width: 100%;
        height: 90%;
        bottom: 3%;
        /*background-color: burlywood;*/
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 90%;
        height: 35%;
        /*background-color: #9d9d9d;*/
        bottom: 5%;
        left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h2 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.3rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content p {
        font-family: "Asar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h3 {
        font-family: "Kumar One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: #653D3D;
        z-index: 9000;
    }

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 25%;
        transform: scale(6);

        top: 50%;
        left: 13%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 75%;
        height: 67%;
        background-color: var(--bg-color);
        opacity: 0.2;

        bottom: 1%;
        left: 0;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 75%;
        height: 67%;
        border: 2px solid black;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);

        bottom: 1%;
        left: 0;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 84%;
        height: 12%;
        top: 4%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-right-side form .form-email {
        position: absolute;
        width: 79%;
        height: 13%;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*margin: 1rem;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-message {
        position: absolute;
        width: 79%;
        top: 38%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contactMe-section .contactMe-section-right-side form .form-button {
        position: absolute;
        width: 25%;
        height: 7%;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        /*background-color: black;*/
        /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
    }

    .contactMe-section .contactMe-section-right-side form .form-button button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        font-family: "Inknut Antiqua", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--text-color);
        background-color: black;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contactMe-section .contactMe-section-right-side form label {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .contactMe-section .contactMe-section-right-side form input {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form textarea {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form #firstname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #lastname {
        height: 1.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #email {
        height: 1.7rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 425px) {

    .contactMe-section .contactMe-section-title {
        position: absolute;
        width: 100%;
        height: 10%;
        /*background-color: burlywood;*/
        top: 1%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .contactMe-section .contactMe-section-title h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.8rem;
        color: var(--text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side {
        position: absolute;
        width: 70%;
        height: 46%;
        top: 0;
        /*background-color: cadetblue;*/
    }

    .contactMe-section .contactMe-section-right-side {
        position: absolute;
        width: 100%;
        height: 90%;
        bottom: 3%;
        /*background-color: burlywood;*/
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content {
        position: absolute;
        width: 90%;
        height: 35%;
        /*background-color: #9d9d9d;*/
        bottom: 5%;
        left: 10%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h2 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.3rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content p {
        font-family: "Asar", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--second-text-color);
        z-index: 9000;
    }

    .contactMe-section .contactMe-section-left-side .contactMe-section-left-side-content h3 {
        font-family: "Kumar One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        color: #653D3D;
        z-index: 9000;
    }

    .contactMe-section img {
        position: absolute;
        width: 30%;
        height: 25%;
        transform: scale(6);

        top: 50%;
        left: 13%;

        opacity: 0.13;
    }

    .contactMe-section .contactMe-section-right-side .contactMe-section-form-before {
        position: absolute;
        width: 70%;
        height: 67%;
        background-color: var(--bg-color);
        opacity: 0.2;

        bottom: 1%;
        left: 0;
    }

    .contactMe-section .contactMe-section-right-side form {
        position: absolute;
        width: 70%;
        height: 67%;
        border: 2px solid black;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);

        bottom: 1%;
        left: 0;
    }

    .contactMe-section .contactMe-section-right-side form .form-firstNameLastName {
        position: absolute;
        width: 80%;
        height: 12%;
        top: 4%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contactMe-section .contactMe-section-right-side form .form-email {
        position: absolute;
        width: 79%;
        height: 13%;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /*margin: 1rem;*/
    }

    .contactMe-section .contactMe-section-right-side form .form-message {
        position: absolute;
        width: 79%;
        top: 38%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contactMe-section .contactMe-section-right-side form .form-button {
        position: absolute;
        width: 25%;
        height: 7%;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        /*background-color: black;*/
        /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
    }

    .contactMe-section .contactMe-section-right-side form .form-button button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        font-family: "Inknut Antiqua", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--text-color);
        background-color: black;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contactMe-section .contactMe-section-right-side form label {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .contactMe-section .contactMe-section-right-side form input {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form textarea {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
        opacity: 0.6;
    }

    .contactMe-section .contactMe-section-right-side form #firstname {
        height: 1.5rem;
        width: 6.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #lastname {
        height: 1.5rem;
        width: 6.5rem;
    }

    .contactMe-section .contactMe-section-right-side form #email {
        height: 1.7rem;
    }
}

