* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.footer {
    position: relative;
    width: 100vw;
    height: 50vh;

    overflow: hidden;

    background-color: var(--second-bg-color);
    opacity: 0.8;
}

.footer-left {
    position: absolute;

    width: 30%;
    height: 20%;

    top: 23%;
    left: 8%;
}

.footer-right {
    position: absolute;

    width: 30%;
    height: 20%;

    top: 23%;
    right: 8%;
}

.footer-right h5, .footer-right h6 {
    display: flex;
    justify-content: flex-end;
}

.footer-left h5, .footer-right h5 {
    font-family: "Markazi Text", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4rem;
}

.footer-left h6, .footer-right h6 {
    font-family: "Italianno", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 1.9rem;

    margin-top: 0.8rem;
}

.footer-contact {
    position: absolute;

    width: 40%;
    height: 20%;

    top: 57%;
    right: 0;
    left: 0;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contact img {
    width: 7%;
    height: 55%;
}

.footer-contact img:hover {
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}

.footer-contact .contact-img {
    opacity: 0.7;
}

.footer-contact .contact-github-img {
    opacity: 0.83;
}

.footer-bottom {
    position: absolute;

    width: 17%;
    height: 17%;

    top: 90%;
    left: 0;
    right: 0;
    margin: auto;
}

.footer-bottom p {
    position: absolute;

    padding: 0.5em;
    font-size: 0.8rem;
    opacity: 0.8;
}

/* ----------------------------------------- */

@media (max-width: 1350px) {

    .footer-left {
        position: absolute;

        width: 35%;
        height: 20%;

        top: 23%;
        left: 8%;
    }

    .footer-bottom {
        position: absolute;

        width: 19%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-contact img {
        width: 7%;
        height: 55%;
    }

}

/* ----------------------------------------- */

@media (max-width: 1290px) {

    .footer-contact img {
        width: 6.5%;
        height: 45%;
    }
}

/* ----------------------------------------- */

@media (max-width: 1200px) {

    .footer-bottom {
        position: absolute;

        width: 20%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

/* ----------------------------------------- */

@media (max-width: 1153px) {

    .footer-left {
        position: absolute;

        width: 40%;
        height: 20%;

        top: 23%;
        left: 8%;
    }

    .footer-right {
        position: absolute;

        width: 35%;
        height: 20%;

        top: 23%;
        right: 8%;
    }

    .footer-contact img {
        width: 6%;
        height: 40%;
    }

    .footer-bottom {
        position: absolute;

        width: 22%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* ----------------------------------------- */

@media (max-width: 1035px) {

    .footer-bottom {
        position: absolute;

        width: 29%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-contact img {
        width: 7%;
        height: 40%;
    }

}

/* ----------------------------------------- */

@media (max-width: 1024px) {

    .footer-left {
        position: absolute;

        width: 40%;
        height: 20%;

        top: 23%;
        left: 8%;
    }

    .footer-right {
        position: absolute;

        width: 35%;
        height: 20%;

        top: 23%;
        right: 8%;
    }

    .footer-left h5, .footer-right h5 {
        font-family: "Markazi Text", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
    }

    .footer-left h6, .footer-right h6 {
        font-family: "Italianno", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.7rem;

        margin-top: 0.8rem;
    }

    .footer-contact img {
        width: 7%;
        height: 40%;
    }

    .footer-bottom {
        position: absolute;

        width: 28%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* ----------------------------------------- */

@media (max-width: 950px) {

    .footer-left {
        position: absolute;

        width: 44%;
        height: 20%;

        top: 23%;
        left: 8%;
    }

    .footer-right {
        position: absolute;

        width: 36%;
        height: 20%;

        top: 23%;
        right: 8%;
    }

    .footer-left h5, .footer-right h5 {
        font-family: "Markazi Text", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
    }

    .footer-left h6, .footer-right h6 {
        font-family: "Italianno", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.7rem;

        margin-top: 0.8rem;
    }

    .footer-contact img {
        width: 7%;
        height: 36%;
    }

    .footer-bottom {
        position: absolute;

        width: 26%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* ----------------------------------------- */

@media (max-width: 895px) {

    .footer-right {
        position: absolute;

        width: 38%;
        height: 20%;

        top: 23%;
        right: 8%;
    }

    .footer-left h5, .footer-right h5 {
        font-family: "Markazi Text", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2rem;
    }

    .footer-left h6, .footer-right h6 {
        font-family: "Italianno", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.6rem;

        margin-top: 0.8rem;
    }

    .footer-contact img {
        width: 7%;
        height: 36%;
    }

    .footer-bottom {
        position: absolute;

        width: 30%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* ----------------------------------------- */

@media (max-width: 798px) {

    .footer-left {
        position: absolute;

        width: 46%;
        height: 20%;

        top: 23%;
        left: 4%;
    }

    .footer-right {
        position: absolute;

        width: 39%;
        height: 20%;

        top: 23%;
        right: 4%;
    }

    .footer-left h5, .footer-right h5 {
        font-family: "Markazi Text", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2rem;
    }

    .footer-left h6, .footer-right h6 {
        font-family: "Italianno", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.6rem;

        margin-top: 0.8rem;
    }

    .footer-contact img {
        width: 7%;
        height: 36%;
    }

    .footer-bottom {
        position: absolute;

        width: 30%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* ----------------------------------------- */

@media (max-width: 768px) {

    .footer-left {

        position: absolute;

        width: 50%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 50%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-left h5 {
        position: absolute;
        bottom: 90%;
    }

    .footer-right h5, .footer-right h6, .footer-left h5, .footer-left h6 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-left h6 {
        padding-top: 3.5rem;
    }

    .footer-right h6 {
        padding-top: 2.5rem;
    }

    .footer-left h5, .footer-right h5 {
        font-family: "Markazi Text", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
    }

    .footer-left h6, .footer-right h6 {
        font-family: "Italianno", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.7rem;

        margin-top: 0.8rem;
    }

    .footer-bottom {
        position: absolute;

        width: 30%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom p {
        position: absolute;

        padding: 0.5em;
        font-size: 0.7rem;
        opacity: 0.8;
    }

    .footer-contact {
        position: absolute;

        width: 50%;
        height: 20%;

        top: 65%;
        right: 0;
        left: 0;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-contact img {
        width: 7%;
        height: 38%;
    }
}

/* ----------------------------------------- */

@media (max-width: 745px) {

    .footer-left {

        position: absolute;

        width: 55%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 50%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-left h5 {
        position: absolute;
        bottom: 90%;
    }

    .footer-right h5, .footer-right h6, .footer-left h5, .footer-left h6 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-left h6 {
        padding-top: 3.5rem;
    }

    .footer-right h6 {
        padding-top: 2.5rem;
    }

    .footer-left h5, .footer-right h5 {
        font-family: "Markazi Text", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
    }

    .footer-left h6, .footer-right h6 {
        font-family: "Italianno", cursive;
        font-weight: 300;
        font-style: normal;
        font-size: 1.7rem;

        margin-top: 0.8rem;
    }

    .footer-bottom {
        position: absolute;

        width: 35%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom p {
        position: absolute;

        padding: 0.5em;
        font-size: 0.7rem;
        opacity: 0.8;
    }

    .footer-contact {
        position: absolute;

        width: 50%;
        height: 20%;

        top: 65%;
        right: 0;
        left: 0;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-contact img {
        width: 7%;
        height: 35%;
    }
}

/* ----------------------------------------- */

@media (max-width: 680px) {

    .footer-left {

        position: absolute;

        width: 65%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 55%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-contact img {
        width: 7.5%;
        height: 35%;
    }

}

/* ----------------------------------------- */

@media (max-width: 582px) {

    .footer-left {

        position: absolute;

        width: 70%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 60%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom {
        position: absolute;

        width: 40%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom p {
        position: absolute;

        padding: 0.5em;
        font-size: 0.7rem;
        opacity: 0.8;
    }

    .footer-contact img {
        width: 8%;
        height: 35%;
    }
}

/* ----------------------------------------- */

@media (max-width: 533px) {

    .footer-left {

        position: absolute;

        width: 70%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 60%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom {
        position: absolute;

        width: 40%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom p {
        position: absolute;

        padding: 0.5em;
        font-size: 0.7rem;
        opacity: 0.8;
    }

    .footer-contact img {
        width: 9%;
        height: 35%;
    }
}

/* ----------------------------------------- */

@media (max-width: 425px) {

    .footer-left {

        position: absolute;

        width: 70%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 60%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom {
        position: absolute;

        width: 40%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom p {
        position: absolute;

        padding: 0.5em;
        font-size: 0.7rem;
        opacity: 0.8;
    }

    .footer-contact img {
        width: 9%;
        height: 35%;
    }
}

/* ----------------------------------------- */

@media (max-width: 375px) {

    .footer-left {

        position: absolute;

        width: 70%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 60%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom {
        position: absolute;

        width: 40%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom p {
        position: absolute;

        padding: 0.5em;
        font-size: 0.7rem;
        opacity: 0.8;
    }

    .footer-contact img {
        width: 9%;
        height: 35%;
    }
}

/* ----------------------------------------- */

@media (max-width: 320px) {

    .footer-left {

        position: absolute;

        width: 70%;
        height: 40%;

        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-right {

        position: absolute;

        width: 60%;
        height: 40%;

        top: 28%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom {
        position: absolute;

        width: 40%;
        height: 17%;

        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .footer-bottom p {
        position: absolute;

        padding: 0.5em;
        font-size: 0.7rem;
        opacity: 0.8;
    }

    .footer-contact img {
        width: 9%;
        height: 35%;
    }
}

