* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Aclonica", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.myAssignments-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-color: var(--bg-color);
}

.mySlider {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 4.5rem;
    padding: 2rem;
    cursor: pointer;
    color: var(--text-color);
    transition: 0.1s;
    user-select: none;
    box-shadow: 0 0 1rem var(--text-color);
    text-shadow: 0 0 1rem var(--text-color);
}

.prev:hover, .next:hover {
    color: var(--third-text-color);
    box-shadow: 0 0 1rem var(--third-text-color);
    text-shadow: 0 0 1rem var(--third-text-color);
}

.next {
    right: 0;
}

.dotsBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 3.3rem;
    cursor: pointer;
    text-align: center;
}

.dotsBox .dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 5px solid var(--text-color);
    border-radius: 50%;
    margin: 0 0.7rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem var(--text-color);
}

.dotsBox .active, .dotsBox.dot:hover{
    border-color: var(--third-text-color);
    box-shadow: 0 0 1rem var(--third-text-color);
}

.mySlider .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 30s;
    animation-name: fade;
    animation-duration: 30s;
}

@-webkit-keyframes fade {
    from{
        opacity: 0.3;
    }to{
        opacity: 0.9;
    }
}

@keyframes fade {
    from{
        opacity: 0.3;
    }to{
        opacity: 0.9;
    }
}

.txt {
    position: absolute;
    color: var(--text-color);
    letter-spacing: 0.1rem;
    line-height: 2rem;
    top: 25%;
    left: 13%;

    -webkit-animation-name: posi;
    -webkit-animation-duration: 3s;
    animation-name: posi;
    animation-duration: 3s;
    z-index: 100;
}

@-webkit-keyframes posi {
    from{
        left: 30%;
    }to {
        left: 13%;
    }
}
@keyframes posi {
    from{
        left: 30%;
    }to{
        left: 13%;
    }
}

.txt h1 {
    color: var(--third-text-color);
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.3rem;
}

.txt p {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.txt a {
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    color: var(--third-text-color);
    border-bottom: 2px solid var(--third-text-color);
    margin-left: 0.2rem;
}

.mySlider img {
    width: 100%;
    height: 100%;
    transform: scale(1.5, 1.5);

    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 30s;
    animation-name: zoomin;
    animation-duration: 30s;
}

@-webkit-keyframes zoomin {
    from{
        transform: scale(1,1);
    }to{
         transform: scale(1.8, 1.8)
     }
}

@keyframes zoomin {
    from{
        transform: scale(1,1);
    }to{
        transform: scale(1.8, 1.8)
    }
}

/* -------------------------------------------------------- */

@media (max-width: 1213px) {
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 4.3rem;
        padding: 1.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        border: 5px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.7rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
         border-color: var(--third-text-color);
         box-shadow: 0 0 1rem var(--third-text-color);
    }

}

/* -------------------------------------------------------- */

@media (max-width: 1136px) {
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 4.3rem;
        padding: 1.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        border: 5px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.5rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 1rem var(--third-text-color);
    }

}

/* -------------------------------------------------------- */

@media (max-width: 982px) {
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 4rem;
        padding: 1.1rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        border: 5px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.4rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 1rem var(--third-text-color);
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }
}

/* -------------------------------------------------------- */

@media (max-width: 905px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 4rem;
        padding: 1.1rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 5px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.3rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 1rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        letter-spacing: 0.1rem;
        line-height: 2rem;
        top: 30%;
        left: 13%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 13%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 13%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.1rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.8rem;
        color: var(--third-text-color);
        border-bottom: 2px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 790px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 3.5rem;
        padding: 1rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 5px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.2rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 1rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 45%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        letter-spacing: 0.1rem;
        line-height: 2rem;
        top: 27%;
        left: 11%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 11%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 11%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.9rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.7rem;
        color: var(--third-text-color);
        border-bottom: 2px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 715px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 3.2rem;
        padding: 0.9rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        bottom: 3.3rem;
        cursor: pointer;
        text-align: center;
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 5px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.1rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 1rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 45%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        letter-spacing: 0.1rem;
        line-height: 2rem;
        top: 27%;
        left: 11%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 11%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 11%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.9rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.7rem;
        color: var(--third-text-color);
        border-bottom: 2px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 630px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 3.2rem;
        padding: 0.9rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        bottom: 3.3rem;
        cursor: pointer;
        text-align: center;
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 4px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.2rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 1rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 35%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        letter-spacing: 0.1rem;
        line-height: 2rem;
        top: 15%;
        left: 11%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 11%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 11%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.7rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.7rem;
        margin-bottom: 2rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.6rem;
        color: var(--third-text-color);
        border-bottom: 2px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 533px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 3rem;
        padding: 0.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 1rem var(--text-color);
        text-shadow: 0 0 1rem var(--text-color);
    }

    .dotsBox {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        bottom: 3.3rem;
        cursor: pointer;
        text-align: center;
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: 4px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.15rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 1rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 35%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        /*letter-spacing: 0.1rem;*/
        line-height: 2rem;
        top: 15%;
        left: 9%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 9%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 9%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.6rem;
        margin-bottom: 2rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.6rem;
        color: var(--third-text-color);
        border-bottom: 1px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 425px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 0.5rem var(--text-color);
        text-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        bottom: 12rem;
        cursor: pointer;
        text-align: center;
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 5px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.1rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 0.5rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 20%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        /*letter-spacing: 0.1rem;*/
        line-height: 1.5rem;
        top: 15%;
        left: 9%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 9%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 9%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.4rem;
        margin-bottom: 1.5rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.5rem;
        color: var(--third-text-color);
        border-bottom: 1px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 375px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 0.5rem var(--text-color);
        text-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        bottom: 12rem;
        cursor: pointer;
        text-align: center;
    }

    .dotsBox .dot {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: 4px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.1rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 0.5rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 20%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        /*letter-spacing: 0.1rem;*/
        line-height: 1.5rem;
        top: 15%;
        left: 9%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 9%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 9%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.4rem;
        margin-bottom: 1.5rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.5rem;
        color: var(--third-text-color);
        border-bottom: 1px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 325px) {

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: 0.1s;
        user-select: none;
        box-shadow: 0 0 0.5rem var(--text-color);
        text-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        bottom: 12rem;
        cursor: pointer;
        text-align: center;
    }

    .dotsBox .dot {
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
        border: 4px solid var(--text-color);
        border-radius: 50%;
        margin: 0 0.1rem;
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--text-color);
    }

    .dotsBox .active, .dotsBox.dot:hover{
        border-color: var(--third-text-color);
        box-shadow: 0 0 0.5rem var(--third-text-color);
    }

    .mySlider {
        position: absolute;
        width: 70%;
        height: 15%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        overflow: hidden;
    }

    .mySlider img {
        width: 100%;
        height: 100%;
        transform: scale(1, 1);

        -webkit-animation-name: zoomin;
        -webkit-animation-duration: 30s;
        animation-name: zoomin;
        animation-duration: 30s;
    }

    @-webkit-keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    @keyframes zoomin {
        from{
            transform: scale(1,1);
        }to{
             transform: scale(1.8, 1.8)
         }
    }

    .txt {
        position: absolute;
        color: var(--text-color);
        /*letter-spacing: 0.1rem;*/
        line-height: 1rem;
        top: 15%;
        left: 8%;

        -webkit-animation-name: posi;
        -webkit-animation-duration: 3s;
        animation-name: posi;
        animation-duration: 3s;
        z-index: 100;
    }

    @-webkit-keyframes posi {
        from{
            left: 30%;
        }to {
             left: 8%;
         }
    }
    @keyframes posi {
        from{
            left: 30%;
        }to{
             left: 8%;
         }
    }

    .txt h1 {
        color: var(--third-text-color);
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.9rem;
    }

    .txt p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.3rem;
        margin-bottom: 1.5rem;
    }

    .txt a {
        font-family: "Public Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.4rem;
        color: var(--third-text-color);
        border-bottom: 1px solid var(--third-text-color);
        margin-left: 0.2rem;
    }
}
