* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Aclonica", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.myAssignments-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: grey;
}

.myAssignments-section-main {
    width: 50vw;
    height: 50vh;
    border: 5px solid red;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    overflow: hidden;
}

.myAssignments-section-content {
    width: 200vw; /* ( 50vw * 4 = 200vw ) */
    display: flex;

    animation-name: my-animation;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: reverse;

    transform: translateX(0%);
}

.myAssignments-section-content>div {
    width: 50vw;
    height: 50vh;
    background-color: pink;
    border: 1px solid purple;
}

