* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: rgb(185, 146, 146);
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.myServicesTopic-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

}

.myServicesTopic-top-section {
    position: relative;
    width: 100vw;
    height: 88vh;
    opacity: 0.9;
    background-color: var(--second-bg-color);
}

.myServicesTopic-img img {
    position: absolute;
    width: 70%;
    height: 90%;

    transform: scale(1.5);
    left: 15%;

    opacity: 0.15;
}

.title {
    position: absolute;
    width: 100%;
    height: 30%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    text-align: center;
    align-items: center;
}

.title h1 {
    position: absolute;

    width: 80%;
    height: 60%;

    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: var(--second-text-color);
    z-index: 1000;
    text-align: center;
    text-shadow: 55px 55px 10px rgba(0, 0, 0, 0.4);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.myServicesTopic-top {
    position: absolute;
    width: 100vw;
    height: 12vh;

    top: 0;
    background-color: var(--second-bg-color);
    z-index: 1000;
    /*opacity: 0.8;*/
}

.myServicesTopic-bottom {
    position: absolute;
    width: 100vw;
    height: 12vh;

    bottom: 0;
    background-color: var(--bg-color);
    z-index: 2000;
}

/* -------------------------------------------------------- */

@media (max-width: 1200px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 75%;
        height: 90%;

        transform: scale(1.5);
        left: 15%;

        opacity: 0.15;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 1100px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 80%;
        height: 90%;

        transform: scale(1.5);
        left: 15%;

        opacity: 0.15;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 900px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 85%;
        height: 90%;

        transform: scale(1.7);
        left: 15%;

        opacity: 0.15;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 768px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 95%;
        height: 90%;

        transform: scale(1.7);
        left: 5%;

        opacity: 0.15;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 20%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4.5rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 55px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 533px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 100%;
        height: 90%;

        transform: scale(1.8);
        top: 5%;
        left: 5%;

        opacity: 0.15;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 18%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 40px 45px 8px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 500px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 110%;
        height: 70%;

        transform: scale(1.8);
        top: 8%;

        opacity: 0.15;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 18%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 80%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 40px 45px 8px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 425px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 150%;
        height: 70%;

        transform: scale(1.8);
        top: 8%;

        opacity: 0.15;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 16%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 100%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.5rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 40px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 375px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 160%;
        height: 70%;

        transform: scale(1.8);
        top: 8%;

        opacity: 0.15;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 14%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 100%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 35px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

/* -------------------------------------------------------- */

@media (max-width: 320px) {

    .myServicesTopic-img img {
        position: absolute;
        width: 170%;
        height: 70%;

        transform: scale(1.8);
        top: 8%;

        opacity: 0.15;
    }

    .title {
        position: absolute;
        width: 100%;
        height: 12%;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    .title h1 {
        position: absolute;

        width: 100%;
        height: 60%;

        font-family: "Aclonica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5rem;
        color: var(--second-text-color);
        z-index: 1000;
        text-align: center;
        text-shadow: 30px 55px 10px rgba(0, 0, 0, 0.4);

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}
