* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.mySkills-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--bg-color);
}

.mySkills-section .mySkills-section-main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side {
    position: absolute;
    width: 25%;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto;
    background-color: burlywood;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side {
    position: absolute;
    width: 25%;
    height: 75%;
    top: 0;
    bottom: 0;
    right: 3%;
    margin: auto;
    background-color: darkseagreen;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mySkills-section .mySkills-section-mid-line {
    position: absolute;
    width: 0.3%;
    height: 85%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border-radius: 6rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0.2rem;*/
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info p {
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    color: var(--text-color);
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar {
    position: absolute;
    width: 100%;
    height: 0.6rem;
    background-color: #4f4f4f;
    border-radius: 20rem;
    margin-top: 1rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar span {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: var(--second-bg-color);
    border-radius: 20rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info p {
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    color: var(--text-color);
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar {
    position: absolute;
    width: 100%;
    height: 0.6rem;
    background-color: #4f4f4f;
    border-radius: 20rem;
    margin-top: 1rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar span {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: var(--second-bg-color);
    border-radius: 20rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .java {
    width: 75%;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .mysql {
    width: 70%;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .javafx {
    width: 65%;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .javascript {
    width: 15%;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .html {
    width: 45%;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .css {
    width: 40%;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .hibernate {
    width: 50%;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .jquery {
    width: 10%;
}

.info>img {
    width: 3rem;
    height: 3rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(2)>div:nth-child(2) {
    left: 3rem;
}

/*.mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(2)>div:nth-child(2) {*/
/*    left: 3rem;*/
/*}*/

/*.mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(3)>div:nth-child(2) {*/
/*    left: 6rem;*/
/*}*/
