* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: black;
    --second-bg-color: #B99292;
    --text-color: white;
    --second-text-color: black;
    --third-text-color: #B99292;
}

.mySkills-section {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--bg-color);
}

.mySkills-section .mySkills-section-main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side {
    position: absolute;
    width: 45%;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto;
    /*background-color: burlywood;*/
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side {
    position: absolute;
    width: 45%;
    height: 75%;
    top: 0;
    bottom: 0;
    right: 3%;
    margin: auto;
    /*background-color: darkseagreen;*/
}

.mySkills-section .mySkills-section-mid-line {
    position: absolute;
    width: 0.3%;
    height: 85%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border-radius: 6rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar {
    position: absolute;
    width: 60%;
    height: 15%;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info p {
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--text-color);
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar {
    position: absolute;
    width: 100%;
    height: 0.8rem;
    background-color: #4f4f4f;
    border-radius: 20rem;
    margin-top: 1rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar span {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: var(--second-bg-color);
    border-radius: 20rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar {
    position: absolute;
    width: 60%;
    height: 15%;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info p {
    font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--text-color);
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar {
    position: absolute;
    width: 100%;
    height: 0.8rem;
    background-color: #4f4f4f;
    border-radius: 20rem;
    margin-top: 1rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar span {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-color: var(--second-bg-color);
    border-radius: 20rem;
}

.info>img {
    width: 3rem;
    height: 3rem;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(2) {
    position: absolute;
    top: 27%;
    left: 10%
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(3) {
    position: absolute;
    top: 54%;
    left: 20%;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(4) {
    position: absolute;
    top: 81%;
    left: 30%;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(2) {
    position: absolute;
    top: 27%;
    right: 10%
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(3) {
    position: absolute;
    top: 54%;
    right: 20%;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(4) {
    position: absolute;
    top: 81%;
    right: 30%;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .java {
    width: 75%;
    animation: java 1s;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .mysql {
    width: 70%;
    animation: mysql 2s;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .javafx {
    width: 65%;
    animation: javafx 3s;
}

.mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .javascript {
    width: 15%;
    animation: javascript 4s;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .html {
    width: 45%;
    animation: html 1s;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .css {
    width: 40%;
    animation: css 2s;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .hibernate {
    width: 50%;
    animation: hibernate 3s;
}

.mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .jquery {
    width: 10%;
    animation: jquery 4s;
}

/* -------------------------- Keyframes ------------------------*/

@keyframes java {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}

@keyframes mysql {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

@keyframes javafx {
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    }
}

@keyframes javafx {
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    }
}

@keyframes javascript {
    0%{
        width: 0;
    }
    100%{
        width: 15%;
    }
}

@keyframes html {
    0%{
        width: 0;
    }
    100%{
        width: 45%;
    }
}

@keyframes css {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

@keyframes hibernate {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

@keyframes jquery {
    0%{
        width: 0;
    }
    100%{
        width: 10%;
    }
}


/* -------------------------------------------------------- */

@media (max-width: 1000px) {

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.7rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 1rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.7rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 1rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 900px) {

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.1rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.1rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.7rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 1rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.7rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 1rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side {
        position: absolute;
        width: 47%;
        height: 75%;
        top: 0;
        bottom: 0;
        left: 3%;
        margin: auto;
        /*background-color: burlywood;*/
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side {
        position: absolute;
        width: 47%;
        height: 75%;
        top: 0;
        bottom: 0;
        right: 3%;
        margin: auto;
        /*background-color: darkseagreen;*/
    }

    .info>img {
        width: 2rem;
        height: 2rem;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 768px) {

    .mySkills-section {
        position: relative;
        width: 100vw;
        height: 100vh;

        overflow: hidden;

        background-color: var(--bg-color);
    }

    .mySkills-section .mySkills-section-main {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side {
        position: absolute;
        width: 49%;
        height: 85%;
        top: 0;
        bottom: 0;
        left: 10%;
        margin: auto;
        /*background-color: burlywood;*/
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side {
        position: absolute;
        width: 49%;
        height: 85%;
        top: 0;
        bottom: 0;
        right: 10%;
        margin: auto;
        /*background-color: darkseagreen;*/
    }

    .mySkills-section .mySkills-section-mid-line {
        display: none;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar {
        position: absolute;
        width: 70%;
        height: 15%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: var(--second-bg-color);
        border-radius: 20rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar {
        position: absolute;
        width: 70%;
        height: 15%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: var(--second-bg-color);
        border-radius: 20rem;
    }

    .info>img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(1) {
        position: absolute;
        top: 0;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(2) {
        position: absolute;
        top: 25%;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(3) {
        position: absolute;
        top: 52%;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(4) {
        position: absolute;
        top: 79%;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(1) {
        position: absolute;
        top: 12%;
        right: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(2) {
        position: absolute;
        top: 39%;
        right: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(3) {
        position: absolute;
        top: 66%;
        right: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(4) {
        position: absolute;
        top: 93%;
        right: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .java {
        width: 75%;
        animation: java 2s;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .mysql {
        width: 70%;
        animation: mysql 2s;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .javafx {
        width: 65%;
        animation: javafx 2s;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar .javascript {
        width: 15%;
        animation: javascript 2s;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .html {
        width: 45%;
        animation: html 2s;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .css {
        width: 40%;
        animation: css 2s;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .hibernate {
        width: 50%;
        animation: hibernate 2s;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar .jquery {
        width: 10%;
        animation: jquery 2s;
    }

    /* -------------------------- Keyframes ------------------------*/

    @keyframes java {
        0%{
            width: 0;
        }
        100%{
            width: 75%;
        }
    }

    @keyframes mysql {
        0%{
            width: 0;
        }
        100%{
            width: 70%;
        }
    }

    @keyframes javafx {
        0%{
            width: 0;
        }
        100%{
            width: 65%;
        }
    }

    @keyframes javafx {
        0%{
            width: 0;
        }
        100%{
            width: 65%;
        }
    }

    @keyframes javascript {
        0%{
            width: 0;
        }
        100%{
            width: 15%;
        }
    }

    @keyframes html {
        0%{
            width: 0;
        }
        100%{
            width: 45%;
        }
    }

    @keyframes css {
        0%{
            width: 0;
        }
        100%{
            width: 40%;
        }
    }

    @keyframes hibernate {
        0%{
            width: 0;
        }
        100%{
            width: 50%;
        }
    }

    @keyframes jquery {
        0%{
            width: 0;
        }
        100%{
            width: 10%;
        }
    }
}

/* -------------------------------------------------------- */

@media (max-width: 610px) {

    .mySkills-section {
        position: relative;
        width: 100vw;
        height: 100vh;

        overflow: hidden;

        background-color: var(--bg-color);
    }

    .mySkills-section .mySkills-section-main {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side {
        position: absolute;
        width: 52%;
        height: 85%;
        top: 0;
        bottom: 0;
        left: 10%;
        margin: auto;
        /*background-color: burlywood;*/
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side {
        position: absolute;
        width: 52%;
        height: 85%;
        top: 0;
        bottom: 0;
        right: 10%;
        margin: auto;
        /*background-color: darkseagreen;*/
    }

    .mySkills-section .mySkills-section-mid-line {
        display: none;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar {
        position: absolute;
        width: 70%;
        height: 15%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: var(--second-bg-color);
        border-radius: 20rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar {
        position: absolute;
        width: 70%;
        height: 15%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar span {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        background-color: var(--second-bg-color);
        border-radius: 20rem;
    }

    .info>img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(1) {
        position: absolute;
        top: 0;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(2) {
        position: absolute;
        top: 25%;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(3) {
        position: absolute;
        top: 52%;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(4) {
        position: absolute;
        top: 79%;
        left: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(1) {
        position: absolute;
        top: 12%;
        right: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(2) {
        position: absolute;
        top: 39%;
        right: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(3) {
        position: absolute;
        top: 66%;
        right: 21%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(4) {
        position: absolute;
        top: 93%;
        right: 21%;
    }
}

/* -------------------------------------------------------- */

@media (max-width: 533px) {

    .mySkills-section {
        position: relative;
        width: 100vw;
        height: 100vh;

        overflow: hidden;

        background-color: var(--bg-color);
    }

    .mySkills-section .mySkills-section-main {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side {
        position: absolute;
        width: 90%;
        height: 85%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        /*background-color: burlywood;*/
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side {
        position: absolute;
        width: 90%;
        height: 85%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        /*background-color: darkseagreen;*/
    }

    .mySkills-section .mySkills-section-mid-line {
        display: none;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar {
        position: absolute;
        width: 70%;
        height: 15%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side .skill-bar .bar span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: var(--second-bg-color);
        border-radius: 20rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar {
        position: absolute;
        width: 70%;
        height: 15%;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .info p {
        font-family: "Baloo 2", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar {
        position: absolute;
        width: 100%;
        height: 0.5rem;
        background-color: #4f4f4f;
        border-radius: 20rem;
        margin-top: 0.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side .skill-bar .bar span {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        background-color: var(--second-bg-color);
        border-radius: 20rem;
    }

    .info>img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(2) {
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(3) {
        position: absolute;
        top: 52%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-left-side>div:nth-child(4) {
        position: absolute;
        top: 79%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(1) {
        position: absolute;
        top: 12%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(2) {
        position: absolute;
        top: 39%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(3) {
        position: absolute;
        top: 66%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .mySkills-section .mySkills-section-main .mySkills-section-right-side>div:nth-child(4) {
        position: absolute;
        top: 93%;
        left: 0;
        right: 0;
        margin: auto;
    }
}